<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Subscribe Newsletter</title>

    <!--
			Marcompro
			Copyright (c) Araneum All rights reserved
			Developed by : www.araneum.nl
			Contact      : info@araneum.nl
		-->

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">


    <link rel="shortcut icon" href="/favicon.ico">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../bower_components/bootstrapvalidator/dist/css/bootstrapValidator.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <div class="container">
     

      <div class="row">
         <div class="col-lg-12">
            
            <!-- injector:mcp.tpl -->
                <!-- {% crmpro-form %} -->
    
    <div class="mcp-newsletter">
         <h4>Inschrijven nieuwsbrief</h4>
        <form action="{{action}}" role="form" class="mcp-newsletter-form" method="post">
            <div class="mcp-newsletter-form-result">
              <p class="has-success bg-success" style="display: none">Gelukt!</p>
              <p class="has-error bg-danger" style="display: none">Mislukt!</p>
            </div>
            <div class="form-group has-feedback">
                <label class="control-label" for="mcp-newsletter-form-achternaam">Uw achternaam</label>
                <input type="text" 
                       data-bv-notempty data-bv-notempty-message="Vul uw achternaam in."
                       name="{{field-lastname}}" class="form-control" id="mcp-newsletter-form-lastname" placeholder="Vul uw achternaam in">
                
            </div>
            <div class="form-group has-feedback">
                <label class="control-label" for="mcp-newsletter-form-email">Uw e-mailadres</label>
                <input type="email" 
                       data-bv-emailaddress="true" data-bv-emailaddress-message="Vul uw e-mailadres in. Bijvoorbeeld uwnaam@voorbeeld.nl."
                       data-bv-notempty data-bv-notempty-message="Vul uw e-mailadres in. Bijvoorbeeld uwnaam@voorbeeld.nl."
                       name="{{field-email}}" class="form-control" id="mcp-newsletter-form-email" placeholder="Vul uw e-mailadres in">
                
            </div>
            <div class="form-group has-feedback">
              <button type="submit" class="btn btn-default">Versturen</button>
            </div>
        </form>
    </div> 
    <!-- {% end crmpro-form %} -->

            <!-- endinjector -->
        </div>
      </div>
      
    </div>

    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrapvalidator/dist/js/bootstrapValidator.js"></script>
    <!-- endbower -->
    
    <script src="plugins/mcpSubscribeNewsletter.js"></script>
	
	<script>
	$('.mcp-newsletter').mcpSubscribeNewsletter();
	</script>

</body>
</html>
